%section#content.container.clearfix{style: "padding-top:0px;margin-top:-40px;"}
  %h2.slogan.align-center
  .one
    .two-third
      #lead_captured.two-third
        = form_for @search, url: credit_cards_path, method: :get, html: { class: "wpcf7-form", id: "search_form" } do |f|
          %h1 Business Credit Card Comparison Engine
          %h2 Find the best business card for your business needs
          %div{style: "float:left; padding-right: 10px;"}
            %label Business Type
            = f.select :business_type, BusinessType.recent.map{|b| [b.name, b.slug]}, { include_blank: "Business Type" }, id: "business-type"
          %div{style: "float:left; padding-right: 10px;"}
            %label Years in business
            = f.select :business_year, BusinessYear.recent.map{|b| [b.name, b.slug]}, { include_blank: "Years in business" }, id: "years-in-business"
          %div{style: "clear:both"}
          %div{style: "float:left; padding-right: 10px; padding-top: 20px;"}
            %label Current Monthly Sales
            = f.select :monthly_sale, MonthlySale.recent.map{|b| [b.name, b.slug]}, { include_blank: "Current Monthly Sales" }, id: "monthly-sale"
          %div{style: "float:left; padding-right: 10px; padding-top: 20px;"}
            %label Credit Card Type Priority
            = f.select :priority, Priority.recent.map{|b| [b.name, b.slug]}, { include_blank: "Credit Card Type Priority" }, id: "credit-card-type-priority"
          %div{style: "float:left; padding-right: 10px; padding-top: 20px;"}
            %label Credit Score
            = f.select :credit_score, CreditScore.recent.map{|b| [b.name, b.slug]}, { include_blank: "Credit Score" }, id: "credit-score"
          %div{style: "float:left; padding-right: 10px; padding-top: 20px;"}
            %label Preferred Rewards Program
            = f.select :reward_program, RewardProgram.recent.map{|b| [b.name, b.slug]}, { include_blank: "Preferred Rewards Program" }, id: "preferred-rewards-program"
          %div{style: "clear:both"}
          %div{style: "float:left; padding-right: 10px; padding-top: 20px;"}
            %label Does your business accept credit cards
            = f.select :business_accept_cards, [["Yes", true],["No", false]], { include_blank: "Business accept credit cards" }, id: "business-accepts-credit-cards"

          %div{style: "clear:both"}
          %div{style: "padding-top:30px"}
            %input#lead_save.button{style: "width: 453px; background-color: #428937", type: "submit", value: "Continue now"}/
    #or_tabs.one-third.last
      .infobox
        %img{src: "//www.forwardfinancing.com/site/wp-content/themes/smartstart/images/contact.jpg", width: "100%"}/
        %h3{style: "text-align:center;"} Contact a Specialist Immediately
        #reference_number_div{style: "text-align:center; display:none;"}
          Your Reference Number:
          %h3
        %h2{style: "color:#428937; font-weight:700; text-align:center;"} (888) 244-9099
        #request_call{style: "display:none;"}
          #request_button{style: "margin-top: 15px;"}
            %input#request_call.button{onclick: "ga('send', 'event', 'Application', 'Phone Box', 'REQUEST A CALL, Reference number:'+document.getElementById('reference_number').value+'.');", style: "width: 100%; height: 40px; text-align: center;", type: "button", value: "REQUEST A CALL"}/
      / end .infobox
      .infobox
        %p{style: "font-size:11px; text-align:center;"}
          %a{href: "#", style: "color:#428937;"} Privacy & Security
          |
          %a{href: "#", style: "color:#428937;"} info@forwardfinancing.com
        %p{style: "font-size:11px; text-align:center; margin-top: -20px;"} Forward Financing® is a Registered Trademark.
        / <img width="100%" src="http://www.forwardfinancing.com/site/wp-content/themes/smartstart/images/security.jpg"></img>
        %table{border: "0", cellpadding: "2", cellspacing: "0", title: "Click to Verify - This site chose Symantec SSL for secure e-commerce and confidential communications.", width: "135"}
          %tbody
            %tr
              %td{align: "center", valign: "top", width: "135"}
                %script{src: "https://seal.verisign.com/getseal?host_name=www.forwardfinancing.com&size=L&use_flash=NO&use_transparent=NO&lang=en", type: "text/javascript"}
                %a{href: "javascript:vrsn_splash()", tabindex: "-1"}
                  %img{alt: "Click to Verify - This site has chosen an SSL Certificate to improve Web site security", border: "true", name: "seal", oncontextmenu: "return false;", src: "https://seal.verisign.com/getseal?at=0&sealid=0&dn=www.forwardfinancing.com&lang=en"}/
                %br/
        %div{align: "center"}
          %a{href: "http://www.bbb.org/boston/business-reviews/financing/dollar-merchant-financing-llc-in-boston-ma-133112/", target: "_blank"}
            %img{src: "http://www.forwardfinancing.com/site/wp-content/themes/smartstart/images/cbbb-badge-horz.png", width: "60%"}/
      / end .infobox
    :javascript
      var __lc = {};
      __lc.license = 3480682;

      (function() {
      	var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
      	lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
      	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);


      })();
      var LC_API = LC_API || {};


  / end .one