#wrapper
  #sidebar-wrapper
    %ul.sidebar-nav
      %li
        %a(ui-sref="admin.cards.index") Cards
      %li
        %a(ui-sref="admin.card.new") New card
      %li
        %a
      %li
        %a(ng-click="session.logout()") Logout

  #page-content-wrapper(ui-view)
