.main
  %header.header.gradient.white
    .container.row
      .logo.col-lg-3
        = image_tag("logo.png")
      .page-title.col-lg-6
        %h1.text-center Geo Cellar
      .profile.col-lg-3(ng-controller = "personalMenuCtrl")
        .dropdown(ng-controller = "mainMenuCtrl")
          %span.dropdown-toggle{href: "#", "data-toggle" => "dropdown"}
            %a{href: "#"}
              %span.simpicon.simpicon-profile
              My Profile
          %ul.dropdown-menu
            %li
              %a(ui-sref="profile")
                %span.simpicon.simpicon-settings
                Profile
            %li
              %a( href = "#" ng-click = "session.logout()" )
                %span.simpicon.simpicon-logout
                Logout
  %div(ui-view)
%footer.footer.text-center.white
  %span.copy Copyright My-Wei LLC


