.main.profile-mini-temp(ng-show = "authenticated")
  %header.header.gradient.white
    .container.row
      .logo.col-lg-3
        %img{src: "#{asset_path('logo.png')}"}
      .col-lg-9
        %nav.navbar.navbar-default
          %ul.nav.navbar-nav(ng-controller = "personalMenuCtrl")
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                %span.simpicon.simpicon-profile
                My Profile
              %ul.dropdown-menu
                %li
                  %a(ui-sref="global.cellar") Cellar
                %li
                  %a(ui-sref="profile") Profile
                %li
                  %a( href = "#" ng-click = "session.logout()" ) Logout

  %div(ui-view)
    %section.tabs-control
      .content.container
        .well.mini
          %figure
            %img(ng-src = "{{user.photoUrls.thumb}}")
          .user-info
            %a.btn.btn-default.pull-right( ui-sref = "profile.edit" ) Edit
            .name
              %h3 Chip Bond
            .table
              .tbody
                .tr
                  .td
                    .key(ng-show = "user.age")
                      Age
                    .value(ng-show = "user.age")
                      {{ user.age }} years old
                    .key
                      Gender
                    .value
                      {{ user.gender }}
                    .key
                      Email
                    .value
                      {{ user.email }}
                    .key
                      Phone
                    .value
                      {{ user.phone }}

%footer.footer.text-center.white
  .footer-nav
    %ul.main-navigation
      %li
        %a{href: "#"} Join Us
      %li
        %a{href: "#"} Invite a Friend
      %li
        %a{href: "#"} Our Members
      %li
        %a{href: "#"} Contact Us
  %span.copy
    %ul.socials
      %li
        %a{href: "#"}
          %span.simpicon.simpicon-fb
      %li
        %a{href: "#"}
          %span.simpicon.simpicon-soc-1
      %li
        %a{href: "#"}
          %span.simpicon.simpicon-soc-2

    © 2013 All Rights Reserved my-Wei.com
