%table.schumer-box{cellpadding: "0", cellspacing: "0"}
  %tbody
    %tr
      %td{style: "width:161px;height:1px"}
      %td{style: "width:361px;height:1px"}
      %td{style: "width:164px;height:1px"}
    %tr
      %th.offer-left{colspan: "2"}
        %table{border: "0", width: "100%"}
          %tbody
            %tr
              %td
                %a.top-pick{href: "#"}= credit_card.name
      %td.field-apply-now{align: "center", rowspan: "2"}
        %a{href: credit_card.application_url, target: "_blank"}
          = image_tag "apply-now.jpg"
    %tr
      %td.cc-card-art-align
        %a{href: "#"}
          = image_tag credit_card.image_url, size: "142x82", alt: credit_card.name
          %br
      %td.details
        = credit_card.description.html_safe
    %tr
      %td{colspan: "3"}
        %table.rate-rc{align: "center", cellpadding: "0", cellspacing: "1"}
          %tbody
            %tr
              %td.rate-top{rowspan: "2"} Regular APR
              %td.rate-top{rowspan: "2"}
                Annual Fee
              %td.rate-top.credit-needed{rowspan: "2"} Credit Needed
            %tr
            %tr
              %td.rates-bottom= "#{credit_card.apr_min}% - #{credit_card.apr_max}%"
              %td.rates-bottom= credit_card_fee(credit_card)
              %td.rates-bottom= credit_card.quality_name
%br
