%section#content.clearfix{style: "min-height: 37px; padding-top:0; margin-top: -10px"}
  .bootstrapped
    .row
      .col-sm-1
      .col-sm-6
        %h1 Credit Card Comparison
        %h6= filters(@search)
  .container(style="margin-top:40px;")
    .infobox.one-fourth.filter
      = form_for @search, url: credit_cards_path, method: :get, html:{ id: "search_form" } do |f|
        %label= t("business_type")
        = f.select :business_type, BusinessType.recent.map{|b| [b.name, b.slug]}, { include_blank: "Business Type" }, id: "business-type"
        %label= t("business_year")
        = f.select :business_year, BusinessYear.recent.map{|b| [b.name, b.slug]}, { include_blank: "Years in business" }, id: "years-in-business"
        %label= t("monthly_sale")
        = f.select :monthly_sale, MonthlySale.recent.map{|b| [b.name, b.slug]}, { include_blank: "Current Monthly Sales" }, id: "monthly-sale"
        %label= t("priority")
        = f.select :priority, Priority.recent.map{|b| [b.name, b.slug]}, { include_blank: "Credit Card Type Priority" }, id: "credit-card-type-priority"
        %label= t("credit_score")
        = f.select :credit_score, CreditScore.recent.map{|b| [b.name, b.slug]}, { include_blank: "Credit Score" }, id: "credit-score"
        %label= t("reward_program")
        = f.select :reward_program, RewardProgram.recent.map{|b| [b.name, b.slug]}, { include_blank: "Preferred Rewards Program" }, id: "preferred-rewards-program"
        %label= t("business_accept_cards")
        = f.select :business_accept_cards, [["Yes", true],["No", false]], { include_blank: "Business accept credit cards" }, id: "business-accepts-credit-cards"
        %input.button{type: "submit", value: "Search", style: "background-color: #428937"}
    - if @credit_cards.empty?
      .bootstrapped
        %span(style="display:block; text-align:center;")
          %h1 No Cards found
    - else
      #credit-cards(style="float:right")
        = render "table", credit_cards: @credit_cards
    %section#content.container.clearfix{style: "padding-top:0px;margin-top:0px;"}
      %h2.slogan.align-center
      .one
        .two-third
          #lead_captured.two-third
