/ Keep all page content within the page-content inset div!
.page-content.inset
  .row
    .col-md-8
      %form.form-horizontal{role: "form", "ng-submit" => "save()"}
        .form-group
          %label.col-sm-2.control-label{for: "name"} Image
          .col-sm-10
            #photo-preview
              %img(ng-src = "{{card.imageUrls}}" width="100")
            %input(type = "file" fileinput = "card.imageData" preview-container = "#photo-preview img")
            %error-field(error="card.errors.name")
        .form-group
          %label.col-sm-2.control-label{for: "name"} Name
          .col-sm-10
            %input#name.form-control{placeholder: "Name", type: "text", "ng-model" => "card.name"}
            %error-field(error="card.errors.name")
        .form-group
          %label.col-sm-2.control-label{for: "description"} Description
          .col-sm-10
            %textarea#editor(rows="10" cols="80" ng-model="card.description" ck-editor)
            %error-field(error="card.errors.description")
        .form-group
          %label.col-sm-2.control-label{for: "description"} Quality Needed
          .col-sm-10
            %div(ng-repeat="element in lists.creditScores")
              %input(type="checkbox"  checklist-model="card.creditScoreIds" checklist-value="element.id") {{element.name}}
        .form-group
          %label.col-sm-2.control-label{for: "description"} Monthly Sales
          .col-sm-10
            %div(ng-repeat="element in lists.monthlySales")
              %input(type="checkbox"  checklist-model="card.monthlySaleIds" checklist-value="element.id") {{element.name}}
        .form-group
          %label.col-sm-2.control-label{for: "description"} Rewards Program
          .col-sm-10
            %div(ng-repeat="element in lists.rewardsProgram")
              %input(type="checkbox"  checklist-model="card.rewardProgramIds" checklist-value="element.id") {{element.name}}
        .form-group
          %label.col-sm-2.control-label{for: "description"} Business Types
          .col-sm-10
            %div(ng-repeat="element in lists.businessTypes")
              %input(type="checkbox"  checklist-model="card.businessTypeIds" checklist-value="element.id") {{element.name}}
        .form-group
          %label.col-sm-2.control-label{for: "description"} Years in business
          .col-sm-10
            %div(ng-repeat="element in lists.businessYears")
              %input(type="checkbox"  checklist-model="card.businessYearIds" checklist-value="element.id") {{element.name}}
        .form-group
          %label.col-sm-2.control-label{for: "description"} Credit Card Type Priority
          .col-sm-10
            %div(ng-repeat="element in lists.priorities")
              %input(type="checkbox"  checklist-model="card.priorityIds" checklist-value="element.id") {{element.name}}
        .form-group
          %label.col-sm-2.control-label{for: "description"} Business Accept Credit Cards
          .col-sm-10
            %input(type="checkbox"  ng-model="card.businessAcceptCards")
        .form-group
          %label.col-sm-2.control-label{for: "app_url"} Application URL
          .col-sm-10
            %input#app_url.form-control{placeholder: "Name", type: "text", "ng-model" => "card.applicationUrl"}
            %error-field(error="card.errors.applicationUrl")
        .form-group
          %label.col-sm-2.control-label{for: "lau"} Loan Application URL
          .col-sm-10
            %input#lau.form-control{placeholder: "Name", type: "text", "ng-model" => "card.loanApplicationUrl"}
            %error-field(error="card.errors.loanApplicationUrl")
        .form-group
          %label.col-sm-2.control-label{for: "apr"} Annual Percentage Rate
          .col-sm-2
            %input#apr.form-control{type: "text", "ng-model" => "card.aprMin"}
            %error-field(error="card.errors.aprMin")
          .col-sm-2
            %input#apr.form-control{type: "text", "ng-model" => "card.aprMax"}
            %error-field(error="card.errors.aprMax")
        .form-group
          %label.col-sm-2.control-label{for: "an_fee"} Annual Fee
          .col-sm-2
            %input#an_fee.form-control{type: "text", "ng-model" => "card.fee"}
            %error-field(error="card.errors.fee")

        .form-group
          .col-sm-offset-2.col-sm-10
            %button.btn.btn-primary{type: "submit"} Save
