.content-header
  %h1
    %a#menu-toggle.btn.btn-default{href: "#"}
      %i.icon-reorder
    Credit Cards
.page-content.inset
  .panel.panel-default
    .table-responsive
      %table.table
        %thead
          %tr
            %td Image
            %td Name
            %td Description
            %td Quality Needed
            %td Application URL
            %td Loan Application URL
            %td APR
            %td Annual Fee
        %tbody
          %tr(ng-repeat="card in cards")
            %td
              %img(src="{{ card.imageUrls}}" width="140" height="88" )
            %td {{ card.name }}
            %td(ng-bind-html-unsafe="card.description")
            %td {{ card.qualityName }}
            %td {{ card.applicationUrl }}
            %td {{ card.loanApplicationUrl }}
            %td {{ card.aprMin }} - {{ card.aprMax }}
            %td {{ card.fee }}
            %td
              %a(ui-sref="admin.card.edit({cardName: card.name})") Edit
              %a.point(ng-click="destroy(card)") Remove
  %div(paginator="paginator" ng-paginate)
