.login-panel
  .header-well
    %h1.text-center Login
  %form.form( ng-submit = "login()")
    .form-group
      %label.sr-only
        Email
      %input.form-control( ng-model = "session.email" placeholder = "Email" )
    .form-group
      %label.sr-only
        Password
      %input.form-control( ng-model = "session.password" type = "password" placeholder = "Password")
    .form-group
      %input(type = "checkbox" id="remember")
      %label(for = "remember") remember me
      %a.pull-right(ng-click = "goRecoverPass()") forget your password?
    .text-center
      %button.btn.btn-lg.btn-primary Login
      %a.btn.btn-lg.btn-success( ng-click = "goSignup()") Sing Up
  .footer-well
    .hide.has-error.alert.alert-danger(ng-class = "{show: session.errors}")
      {{session.errors}}

