.card_style{

body {
  margin: -1px 0 5px 0;
  padding: 0px 0 5px 0;
  background: #003063 url(/images/blue-bg.gif) repeat-x left top;
  font-family: Arial, Helvetica, sans-serif;
}

a:link, a:visited {
  color: #003399;
}

a:active, a:hover {
  color: #CC0000;
}

a img {
  border: none;
}

h1 {
  font: bold 20px Arial, Helvetica, sans-serif;
  color: #000066;
  text-align: left;
  margin: 0;
  padding: 4px 0 0 0;
}

h1 a {
  color: #000066;
}

h2 {
  font: bold 16px Arial, Helvetica, sans-serif;
  color: #000066;
  text-align: center;
  margin: 0;
  padding: 0;
}
h3 {
  font: 13pt Arial, Helvetica, sans-serif;
  color: #000;
  padding: 7px 0 0 0;
}

li{
  font: 11px Verdana,Arial,Helvetica,sans-serif;
}

a img {
  border:none;
}

#skeleton {
  width: 960px;
  margin: 0 auto;
}
#skeleton790 {
  width: 790px;
  margin: 0 auto;
}

/*Advertising Disclosure 36162*/
.advertising_disclosure_container{
  position:relative;
  overflow:visible;
  height:17px;
}
.advertising_disclosure_container.addrightmargin, .advertising_disclosure_container.individual-card{
  margin-right:20px;
}
.advertising_disclosure_text{
  border:1px black solid;
  display:none;
  position:absolute;
  width:auto;
  height:auto;
  background-color:white;
  bottom:-10px;
  right:140px;
  z-index:101;
}

.advertising_disclosure_link{
  float:right;
  width:139px;
  height:17px;
}

.advertising_disclosure_link>a{
  border:none;
  text-decoration: none;
}

.leftnav {
  font: bold 12px Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #000;
  text-align: left;
  padding: 0px;
  margin: 0px;
}
.searchbox {
  width: 160px;
}
.leftnav a:link {
  font: bold 12px Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #003366;
}

.leftnav a:visited {
  font: bold 12px Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #003366;
}

.leftnav a:hover{
  text-decoration: underline;
  color: #cc0000;
}
.centerimage {
  height: 110px;
  width: 574px;
  background: url(/images/home-center-tight.jpg) no-repeat right top;
  margin: 0;
  padding: 0;
}
.centerimage td {
  padding: 10px 10px 10px 15px;
  vertical-align: top;
}
.securitylock {
  font: bold 11px Arial, Helvetica, sans-serif;
  color: #FFF;
  background-color: #2D5F91;
  border: 1px solid #000;
  width: 140px;
  margin: 0;
  padding: 5px;
  text-align: left;
}
.centerimage h1 {
  font: bold 21px Arial, Helvetica, sans-serif;
  color: #0F1C60;
  padding: 15px 0 0;
}

/* Redesign - header steps are now here*/
#header-steps li{
  float:left;
  clear:none;
  list-style:none;
  padding:10px;
  font:  normal 25px Arial, Helvetica, sans-serif;
}


#header-steps li strong{
  display:inline-block;
  height:20px;
  line-height:20px;
  width:20px;
  padding:5px;
  background-color:#AD0600;
  font-weight:normal;
  font-size:20px;
  color:white;
  border:1px #AD0600 solid;
  border-radius:20px;
}

/* Redesign - header steps END*/

.stepstable {
  border: 1px solid #CCCCCC;
  width: 539px;
}
.stepstable td {
  margin: 0;
  padding: 0 6px 3px 8px;
}
.stepstable p {
  margin: 8px 5px 5px;
  padding: 0;
  font: 12px Arial,Helvetica,sans-serif !important;
}
.stepstable img {
  padding: 0;
  margin: 0 0 3px 0;
}

.stepstablehome {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

.stepstablehome a{
  text-decoration: none;
  color: #000;
}

.stepstablehome a:visited {
  text-decoration: none;
  color: #000;
}

.stepstablehome a:hover {
  text-decoration: none;
  color: #000;
}

.stepstablehome td {
  margin: 0;
  padding: 2px 6px 8px 8px;
}
.stepstablehome p {
  margin: 8px 5px 5px;
  padding: 0;
}
.stepstablehome img {
  padding: 0;
  margin: 0 0 3px 0;
}
.step1td {
  background-color: #a5b8d7;
  vertical-align: top;
  width:33%;
}
.step2td {
  background-color: #becee6;
  vertical-align: top;
  width:34%;
}
.step3td {
  background-color: #d4e6fa;
  vertical-align: top;
  width:33%;
}
.headtable {
  margin: 0;
  padding: 0 30px;
  position:relative;
  min-height:130px;
}
#pageContentArea .headtable {
  padding: 0;
}
.headtable img {
  margin: 0;
  padding: 15px 20px 5px 0px;
}
.headtable p {
  vertical-align: top;
  margin: 0;
  padding: 0 0 15px 0;
  font-size: 14px;
  color:rgb(38, 38, 38);
}
/*Redesign - headtable*/
.headtable h1 {
  margin: 0;
  padding: 9px 0px 7px 0;
  font-size:24px;
  color: #AA0000;
}

/*bgcolor for all apply boxes */
.field-apply-now{
  background-color:#F2F7EE;
}

.headtable>div.category-description-firstpage{
  float:left;
  clear:none;
  width:400px;
}

/*Using an image now*/
.headtable>div.category-apply-description{
  position:absolute;
  background: url(/images/apply-securely.png) no-repeat bottom;
  float:right;
  clear:none;
  width:283px;
  height:92px;
  bottom:0;
  right:7px;
}
/*Redesign - headtable END*/
.credit-card-regular {
  font: 12px Arial, Helvetica, sans-serif;
}
th {
  font: bold 12px Verdana, Arial, Helvetica, sans-serif;
  color: #0033CC;
  text-align: left;
  background-color: #ccc
}
.bottomnav {
  font: 11px Arial, Helvetica, sans-serif;
  color: #666666;
  text-decoration: none;
  padding-top: 4px;
}
p {
  font: normal 12px Arial, Helvetica, sans-serif;
  color:black;
  text-align: left;
}
ul {
  top: 0px;
  margin-top: 2px;
  margin-bottom: 0px
}

#individual-card-art-top{
  float:left;
  text-align: center;
}

#individual-card-art-top img{
  padding: 2px 0;
}

.sand-article {
  font: 11px Verdana, Arial, Helvetica, sans-serif;
  list-style-image: url(/images/b3-sand-spacer.gif);
}
.blue-arrow {
  font: 11px Verdana, Arial, Helvetica, sans-serif;
  list-style-image: url(/images/ar4.gif);
  vertical-align: baseline;
}
.credit-card-med {
  font: bold 12px Arial, Helvetica, sans-serif;
  color: #000066;
}
.credit-card-sm {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  color: #000;
}
.credit-card-xsm {
  font: 9px Arial, Helvetica, sans-serif;
  color: #000;
  text-align: center;
}
.credit-card-details {
  font: 9px Arial, Helvetica, sans-serif;
}
.cc-card-art-align {
  text-align: center;
  background-color: #FFF;
  vertical-align: top;
  margin: 0;
  padding-left:10px;
}

.schumer-box-container{
  position:relative;
  background-color: rgb(240,240,240);
  padding: 7px;
  margin-bottom: 40px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #B3B3B3;
  z-index:100 !important;
}

.schumer-box-container h2{
  text-align: left;
}

.schumer-box{
  table-layout:fixed;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  background-color:white;
  border-radius: 4px;
  border:1px solid #B3B3B3;
  width:688px;
}

.schumer-box li {
  font: 12px Verdana, Arial, Helvetica, sans-serif;
  margin:5px 0;
  color:#444;
}

.offer-left{
  padding:10px;
  background-color:white;
  font: bold 18px Arial,Helvetica,sans-serif;
  color:#083a6b;
}
.offer-left a, .offer-left a:link, .offer-left a:hover , .offer-left a:visited{
  text-decoration:none;
  color:#083a6b;
}

.offer-left a.thickbox:link {
  color: #333333;
  font: 11px Arial,Helvetica,sans-serif;
  text-decoration: underline;
  background: url("/images/mvt/email-offer.gif") no-repeat scroll 0 1px transparent;
  padding: 0 0 0 21px;
}

.schumer-box .field-apply-now{
  width:164px;
  border-left:1px solid #CCCCCC;
  color:#262626;
}
.schumer-box .field-apply-now p{
  text-align:center;
  font-size:11px;
}
.schumer-box .field-apply-now p.apply-call{
  margin-left:-13px;
}
.schumer-box .field-apply-now p.apply-call img{
  margin-right:-5px;
}
.schumer-box .field-apply-now p>span{
  display:inline-block;
}

.schumer-box.other-cards{
  margin-bottom: 20px;
}

.details {
  background-color: #FFF;
  list-style-position: outside;
  vertical-align: text-top;
  padding-bottom:10px;
  padding-right:10px;
  width:361px;
}

.calcResults {
  list-style-position: outside;
  background-color: #FFF;
  margin-left: 0;
  padding-left: 1em;
  padding-right: 20px;
  text-indent: 0em;

}

.search {
  vertical-align:baseline;
}

/*Old schumer box*/
.rate-top {
  font: 10px Arial, Helvetica, sans-serif;
  background-color: #d7d7d7;
  text-align: center;
  padding: 0 1px 0 1px;
}
.rates-bottom {
  font: 9px Verdana, Arial, Helvetica, sans-serif;
  background-color: #F2F2F2;
  text-align: center;
}

/*New schumer box*/
.schumer-box .rate-top {
  font: 14px Arial, Helvetica, sans-serif;
  font-weight:normal;
  background-color: rgb(38,38,38);
  color:white;
  text-align: center;
  padding: 1px 5px;
}
.schumer-box .rate-top.rate-top-lower{
  font-size:10px;
}
.schumer-box .rate-top.credit-needed{
  width:154px;
  *width: 152px;
}

.schumer-box .rates-bottom {
  font: 11px Verdana, Arial, Helvetica, sans-serif;
  background-color: white;
  text-align: center;
  padding:10px 0;
  color:rgb(38, 38, 38);
}

.rate-rc {
  width: 100%;
  background-color: #FFF;
}

table.rate-rc {
  border-collapse: collapse;
}
table.rate-rc td, table.rate-rc th {
  border: 1px solid #B3B3B3;
  *border-top: 1px solid #B3B3B3  1px solid #B3B3B3;
  *border-right: none;
  *border-bottom: none;
  *border-left: 1px solid #B3B3B3  1px solid #B3B3B3;
}
table.rate-rc tr:first-child th {
  border-top: 0;
}
table.rate-rc tr:last-child td {
  border-bottom: 0;
}
table.rate-rc tr td:first-child,
table.rate-rc tr th:first-child {
  border-left: 0;
}
table.rate-rc tr td:last-child,
table.rate-rc tr th:last-child {
  border-right: 0;
}

.rate-top-lower{
  background-color: #262626;
  border: 1px solid #B3B3B3;
  color: #FFFFFF;
  font: 10px Arial,Helvetica,sans-serif;
  padding: 3px;
}

.nav-link {
  font: normal 11px Verdana, Arial, Helvetica, sans-serif;
  color: #000;
  line-height: 140%;
}
A:hover {
  color: #CC0000;
}
.Time-Date {
  font: bold 11px Arial, Helvetica, sans-serif;
  color: #FFF;
  margin-bottom: auto;
  text-align: center;
}
.rightnav {
  background-color: #184b7c;
  color: #FFF;
  width:191px;
  text-align: center;
}

.rightnav div{
  margin-left: auto;
  margin-right: auto;
  /*width: 150px;*/
}
.rightnav a  {
  font: normal 12px Arial, Helvetica, sans-serif;
  text-transform: none;
  color: #8dc3f8;
  text-decoration: none;
  font-weight:bold;
}
.rightnav a:hover {
  color: #FF6A6A;
  text-decoration: none
}
.rightgutter {
  background-color: #184B7C;
  border-right: 1px solid #003063;
  border-left: 1px solid #003063;
  vertical-align:top;
  width:191px;
  padding:0px;
  margin:0;
}
.Rated {
  font: bold 18px Arial, Helvetica, sans-serif;
  color: #FFF;
}
.Shop-Compare-Apply {
  font: bold 11px Verdana, Arial, Helvetica, sans-serif;
  color: #FFF;
  padding-left: 5px;
  float: left;
  margin-bottom: auto;
}
h4 {
  font: bold 18px Arial, Helvetica, sans-serif;
  color: #000066;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.search-compare-apply {
  font: normal 13px Arial, Helvetica, sans-serif;
  color: #999;
  text-align: left;
}
.box-dot {
  border: 1px solid #E5E5E5;
}
.box-dot-full {
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  border-right-style: none;
  border-left-style: none;
}
.box-dot-right {
  border: 1px solid #E5E5E5;
}
.credit-card-site-map-title {
  font: bold 14px Arial, Helvetica, sans-serif;
  color: #000066;
  text-align: left;
}
.credit-card-site-map-title a:link {
  font: bold 14px Arial, Helvetica, sans-serif;
  color: #003399;
  text-align: left;
  text-decoration: none;
}
.credit-card-site-map-title a:hover {
  font: bold 14px Arial, Helvetica, sans-serif;
  color: #0066CC;
  text-align: left;
  text-decoration: none;
}
.table-contents-index {
  font: bold 16px Arial, Helvetica, sans-serif;
  color: #000033;
  text-align: left;
  vertical-align: top;
  padding: 20px 15px 15px 0;
  margin: 0;
}
.specials {
  font: normal 10px Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
.specials1 {
  font: normal 11px Arial, Helvetica, sans-serif;
  text-transform: none;
  color: #8dc3f8;
  text-decoration: none;
}
.specials1 a:link{
  text-decoration: none;
}
.specials2 {
  font: normal 12px Arial, Helvetica, sans-serif;
  text-transform: none;
  text-decoration: none;
  font-weight:bold;
}
.recent-credit-card-articles {
  font: normal 11px Arial, Helvetica, sans-serif;
  text-transform: none;
  color: #000;
}
.loading {
  font: 12px Arial, Helvetica, sans-serif;
  color: #0033CC;
}
.return {
  font: 12px Arial, Helvetica, sans-serif;
  color: #AAA;
  text-decoration: none;
}
.return a:link {
  font: 12px Arial, Helvetica, sans-serif;
  color: #AAA;
  text-decoration: none;
}
.return a:hover {
  font: 12px Arial, Helvetica, sans-serif;
  color: #AAA;
  text-decoration: none;
}
.return a:visited {
  font: 12px Arial, Helvetica, sans-serif;
  color: #AAA;
  text-decoration: none;
}

.return img{
  border: none;
}

.calc-border {
  border: 1px solid #000066;
}
.yellow-box {
  font: 12px Arial, Helvetica, sans-serif;
  color: #FF0000;
  background-color: #FFFF99;
}
.credit-card-med-no-dec {
  font: bold 12px Arial, Helvetica, sans-serif;
  color: #000066;
  text-decoration: none;
}
.credit-card-med-no-dec-no-bold {
  font: normal 12px Arial, Helvetica, sans-serif;
  color: #000066;
  text-decoration: none;
}
.hr-dashed {
  border: 1px dashed #ccc;
  width: 400px;
  background-position: left;
  text-align: left;
  background-color:#ccc;
}
.credit-card-med-no-dec-BIG {
  font: bold 14px Arial, Helvetica, sans-serif;
  color: #CC0000;
  text-decoration: none;
}
.nav-red-bold {
  color: #CC0000;
}
.shumer-left {
  font: bold 12px Arial, Helvetica, sans-serif;
  background-color: #D7D7D7;
  text-align: left;
  padding: 5px;
  width: 150px;
}
.shumer-right {
  font: 12px Arial, Helvetica, sans-serif;
  background-color: #F2F2F2;
  text-align: left;
  padding: 5px;
}
.shumer-border {
  border: 2px solid #FFF;
  width: 90%;
}
.mainLeftNav {
  background-color: #DAE4EE;
  border-right: 1px solid #ccc;
  /*border-left: 1px solid #003063;*/
  width: 191px;
  vertical-align: top;
}
.mainContentColumn {
  background-color: #fff;
  vertical-align: top;
}

.mainContentColumn.twoColumn {
  background-color: #fff;
  width: 800px;
  vertical-align: top;
}

.wp_article .mainContentColumn.twoColumn {
  width: 539px;
}
.mainRightColumn {
  background-color: #fff;
  vertical-align: top;
  padding: 0 0 0 30px;
}
.mainRightColumn h3 {
  font-weight: bold !important;
  font-size: 14px !important;
}
.wp_article .mainRightColumn {
  padding: 0 0 0 30px;
}
.mainRightColumn hr {
  margin: 15px 0;
  color: #ccc;
}
.mainRightColumn .actionIcon {
  margin-bottom: 10px;
}
.mainRightColumn .actionIcon a {
  font-size: 11px;
}
.mainRightColumn .actionIcon td {
  vertical-align: middle;
}
.mainRightColumn .actionIcon img {
  padding-right: 5px;
  border-style: none;
  vertical-align: middle; /*ie hack to supplement the align attr on img tag*/
}
.mainRightColumn .adSpace {
  margin-top: 30px;
  text-align: center;
}

.mainRightColumn .quickLinks {
  margin-top: 30px;
}

.quickLinks .title {
  font-weight: bold;
}

.quickLinks .content, .newsletter_signup_right .content {
  background-color: #F5F6F0;
  padding: 3px;
  font-size: 11px;
}

.quickLinks ul {
  padding: 14px;
  margin: 0;
}

.quickLinks ul li {
  padding-bottom: 5px;
}

.quickLinks a {
  line-height: 20px;
}

.adSpaceTop {
  padding: 10px 0 0;
  text-align: center;
}

.adSpaceTop hr {
  margin: 10px 30px 0;
  color: #ccc;
}

.adSpaceBottom {
  padding: 10px 0;
  text-align: center;
}

.adSpaceBottom hr {
  margin: 10px 30px;
  color: #ccc;
}

.moreStoriesBox {
  margin: 10px 0;
  width: 100%;
}

.moreStoriesBox .content, .newsletter_signup_bottom .content {
  padding: 10px 4px 0 4px;
  background-color: #F5F6F0;
}

.leftnavsearch {
  font: normal 12px Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #000;
  text-align: right;
  padding: 3px 15px 0 0;
  margin: 0;
}
.topbar {
  border-bottom: 8px solid #003063;
  margin-top: 17px;
  background-color: #fff;
}

#finding {
  margin: 0 auto;
}


#finding h1{
  text-align:center;
  color:#0F1C60;
}



#international-nav-container {
  position: absolute;
  top: 0;
  margin: 0 auto;
  width: 960px;
}
#international-nav {
  height: 17px;
  width: 100%;
}
#international-nav td {
  font: bold 11px Arial, Helvetica, sans-serif;
  color: #DAE4EE;
}

#international-nav td a {
  font: bold 11px Arial, Helvetica, sans-serif;
  color:#DAE4EE;
  text-decoration:none;
}

#international-nav td a:hover{
  font: bold 11px Arial, Helvetica, sans-serif;
  color: #DAE4EE;
  text-decoration:underline;
}

.grey {
  font: bold 11px Arial, Helvetica, sans-serif;
  color: #cecece;
}



.bottomnav1 {
  border-left: 1px solid #003063;
  border-top: 1px solid #003063;
}
.bottomnav2 {
  border-right: 1px solid #003063;
  border-left: 1px solid #003063;
  border-top: 1px solid #003063;
}
.bottomnav3 {
  border-bottom: 1px solid #003063;
  border-left: 1px solid #003063;
}
.bottomnav4 {
  border-bottom: 1px solid #003063;
  border-left: 1px solid #003063;
  border-right: 1px solid #003063;
}
.sitemaptable p {
  margin: 0;
  padding: 0;
}
.SearchHighlight {
  font-weight: bold;
}
.color_full_path {
  color: #008000;
  font-size: 13px;
}
.result_title_size {
  font-size: 16px;
}
.result_text_size {
  font-size: 13px;
  color: #000;
}
.result_main_message {
  font: bold 12px Arial, Helvetica, sans-serif;
  color: #000;
  width: 100%;
  padding: 2px 0 2px 0;
}
form {
  margin: 0;
  padding: 0;
}
.sslcopy {
  font: normal 13px Arial, Helvetica, sans-serif;
  color: #666666;
}
.ruleindex {
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-left: 1px solid #FFF;
  border-bottom: 1px solid #184B7C;
  margin: 10px 0px 0px;
  padding: 0;
}
.bodyText2 {
  margin: 0;
}
.bodyText2 ul {
  margin-top: 0px;
  margin-bottom: 15px;
}
.bodyText2 p {
  margin-top: 15px;
  margin-bottom: 5px;
}
.style1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.style8 {
  font-weight: bold;
  font-size: 16px;
  color: #990000;
}
.style9 {
  font-size: 14px;
  line-height:140%;
  font-weight: bold;
  color: #fff;
}
.style10 {
  font-weight: bold;
  font-size: 14px;
  color: #990000;
}
.cardbanner {
  margin: 0 auto;
  border: 1px solid #184B7C;
}
.page-sub-nav {
  font: bold 12px Arial, Helvetica, sans-serif;
  color: #999;
  padding: 0 0 15px 15px;
  text-align: left;
}
.page-sub-nav a {
  text-decoration: none;
}
.leftnavsub {
  background: url(/images/bdown2.gif) repeat-y left center;
  font: bold 12px Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #000;
  text-align: left;
  padding: 0px;
  margin: 0px;
}

.leftnavsub a:link {
  font: bold 12px Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #003366;
}

.leftnavsub a:visited {
  font: bold 12px Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #003366;
}

.leftnavsub a:hover{
  text-decoration: underline;
  color: #cc0000;
}
.leftnavsub ul  {
  margin: 0px;
  padding: 0px;
}
.leftnavsub li {
  background: url(/images/bhier.gif) no-repeat left center;
  font: bold 11px Arial, Helvetica, sans-serif;
  color: #cc0000;
  list-style-type: none;
  list-style-position: outside;
  list-style-image: none;
  padding: 1px 0px 1px 25px;

}
.leftnavsub  .lastnav{
  background: url(/images/bhier-end.gif) no-repeat left center;
  padding: 0px 0px 4px 25px;

}

.leftnavsub ul li a:link {
  font: bold 11px Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #003366;
}

.leftnavsub ul li a:visited {
  font: bold 11px Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #003366;
}
.leftnavsub ul li a:hover {
  text-decoration: underline;
  color: #cc0000;
}
.top-search-base {
  position: relative;
  height: 37px;
}
.top-search-bar {
  background: #fff url(/images/top-search-bg.gif) no-repeat right bottom;
  height: 30px;
  position: relative;

}
.top-search-cards {
  padding: 10px 4px 0px 0px;
}

.top-search-cards p {
  margin: 10px 10px 0 0;
  text-align: right;
  font: 11px Arial, Helvetica, sans-serif;
  color: #807c7d;
}

.top-search-cards img{
  padding: 0px 6px 0px 0px;
}
.top-search-rating {
  position: relative;
}
.top-search-form {
  position: relative;
  right: 10px;
  bottom: -10px;
  width: 182px;
  background:url(/images/search-box.gif) 0px 0px no-repeat;
  height:40px;
}


.top-searchbox {
  float:left;
  font: 11px Arial, Helvetica, sans-serif;
  height:15px;
  line-height:15px;
  border:none;
  width: 135px;
  background: none;
  padding: 3px 0 3px 15px;

}


.top-searchbutton {
  float:right;
  margin:0;
  padding:0;
}

.midcolbanks {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  left: 140px;
  top: 0px;
  width: 300px;
}
.midcolbanks img {
  text-align: right;
  position: absolute;
  left: -28px;
}
.midcolbanks h3 {
  font: bold 14px Arial, Helvetica, sans-serif;
  margin: 0px;
}
.midcolbanks p, .midcolbanks td {
  font: 12px Arial, Helvetica, sans-serif;
  color: #000;
  text-align: left;
  margin: 0px 0px 20px;
}
.midcolbanks td {
  padding: 3px;
  font: 10px Arial, Helvetica, sans-serif;
}
.offertrail td {
  font: 10px Verdana, Arial, Helvetica, sans-serif;
  color: #666666;
  text-decoration: none;
  padding: 14px 0px 10px 0px;
  text-align: left;
}
.categorycol {
  text-align: left;
  float: left;
  clear: right;
  width: 300px;
  vertical-align:top;
}
.categorycol h2, .boiler-plate-banks h2 {
  font: bold 16px Arial, Helvetica, sans-serif;
  color: #003;
  text-align: left;
  padding: 10px 0px 10px 19px;
  margin: 0px;
}
.categorycol ul {
  position: relative;
  left: 65px;
  padding: 0px;
  margin: 0px;
  width: 260px;
}
.categorycol li {
  padding: 0px 0px 18px 0px;
  margin: 0px;
  list-style-type: none;
  list-style-position: outside;
  list-style-image: none;
}
.categorycol a {
  font: bold 12px Arial, Helvetica, sans-serif;
  margin: 0px;
}
.categorycol img {
  position: absolute;
  left: -50px;
}
.featurecol {
  padding: 10px 0px;
  margin: 0px;
  width: 225px;
  float: right;
}
.featurecol div {
  padding: 0px;
  margin: 0px;
  background: url(/images/featurecolumn-mid.gif) repeat-y left;
}
.featurecol h2 {
  font: bold 12px Arial, Helvetica, sans-serif;
  margin: 8px 0px 0px 0px;
  padding: 5px 25px 0px 10px;

  text-align: left;
  background: url(/images/featurecolumn-top.gif) no-repeat left top;
}
.featurecol h3 {
  font: bold 11px Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 5px 25px 0px 10px;
  text-align: left;
}
.featurecol h3 a {
  text-decoration: none;
  color: #000;
}
.featurecol h3 a:hover {
  text-decoration: underline;
  color: #c00;
}
.featurecol p, .featurecol td {
  font: normal 11px Arial, Helvetica, sans-serif;
  padding: 0px 25px 0px 10px;
  margin: 0px;
  text-align: left;
}
.featurecol p {
  padding-bottom: 5px
}
.featurecol p.moreinfo {
  padding-bottom: 5px;
  background: url(/images/featurecolumn-bottom.gif) no-repeat left bottom;
}
.featurecol table {
  /* COMMENTED OUT FOR RATE TABLE - WIDTH WAS EXPANDING TABLE OUTSIDE BOUNDS */
  /* width:100%; */
  width:100%;
}
.featurecol img {
  text-align: left;
  border: 1px solid #B2B4BF;
  float: left;
  margin: 0px 7px 2px 0px;
  padding: 0px;
}
.articlebox1 {

}
.articlebox2 {

}
.articlebox3 {

}
.articlebox3 a{
  text-decoration: none;
  color: #006;
}
.articlebox3 a:hover{
  text-decoration: underline;
  color: #c00;
}
.calcbox1 {

}
.calcbox1 ul {
  margin-left: 10px;
  padding-left: 10px;
}
.calcbox1 li {
  font: 11px Verdana, Arial, Helvetica, sans-serif;
  list-style-image: url(/images/b3-sand-spacer.gif);
  padding-bottom: 4px;
  color: #666666;
}
.calcbox1 h2 {
  text-align: left;
  font: bold 14px Arial, Helvetica, sans-serif;
  color: #A00;
  padding-bottom: 2px;
}
#ccdcRight {

}
#ccdcRight h3 {
  font-size: 11px;
  color: #fff;
  text-align: center;
  background: #2D5F91;
  border-bottom: 1px solid #000033;
  margin-top: 0px;
  padding: 3px 0px 3px 0px;
  font-weight: bold;
}
#ccdcRight p {
  font: 11px Arial, Helvetica, sans-serif;
  color: #fff;
  margin: 5px 10px 20px;
  text-align: center;
}
#ccdcRight a {
  color: #8dc3f8;
  text-decoration: none;
}
#ccdcRight a:hover {
  color: #ff6a6a;
}
#ccdcRight ul{
  text-align: left;
  margin: 0px 0px 0px 0px;
  padding: 0px 10px 10px 15px;
}
#ccdcRight li{
  text-indent: 0px;
  margin-left: 5px;
  margin-bottom: 10px;
}
#ccdcRight hr {
  background: #000033;
  margin: 0px;
  border-style: none;
  padding: 0px;
  height: 1px;
  text-decoration: none;
  color: #000033;
  display: block;
}
#ccdcRight img{

}
.aboutcalcs {
  padding: 20px 0;
}
.aboutcalcs blockquote {
  font-size: 12px;
}
.emailPrint{
  float: right;
  padding: 0px 0px 20px 20px;
  font: 12px Verdana, Arial, Helvietica, sans-serif;
  vertical-align: center;
}
.emailPrint div{
  cursor: pointer;
}
.socialLinks{
  font: 12px Verdana, Arial, Helvietica, sans-serif;
  text-align: left;
  padding: 0px 0px 10px 0px;
}
.socialLinks a{
  text-decoration: none;
}
.socialLinks span{
  text-decoration: underline;
}
.socialLinks img {
  text-decoration: none;
  padding-right: 7px;
}
.emailImg {
  top: 2px;
  position: relative;
}
.alignLeft {
  text-align: left;
}
.cardMoreDetail {

}
.cardMoreDetail h3 {
  font: bold 12px Arial, Helvetica, sans-serif;
  color: #000066;
  margin: 0px;
  padding: 0px;
}
.cbr br {
  clear: both;
  line-height: 0;
  display: block;
}

.top-card-spacer{
  margin-bottom:10px;
}

#gray_list_box {
  width: 250px;
  margin: 0 0 34px 31px;
}
#pageContentArea {
  padding: 10px 30px;
  font: normal 12px Arial, Helvetica, sans-serif;
  clear:both;
}
.twoColumn #pageContentArea {
  padding: 10px 0 10px 30px;
}
#breadcrumb {
  padding: 15px 30px 10px 30px;
  font: 10px Verdana, Arial, Helvetica, sans-serif;
  color: #000;
}
#pageContentArea #breadcrumb {
  padding: 0 0 20px 0;
}
/* fix for ELP */
#skeleton790 #pageContentArea {
  padding: 15px;
}
.subnavRoundedCorners {
  margin: 10px 0 15px 0;
}
.label {
  font-weight: bold;
}
.expert_answer {
  margin: 10px 0 0 0;
  display: none;
}
.expert_answer, .expert_answer TD {
  font-size: 12px;
}
.expert_answer .label {
  font-weight: bold;
  padding-right: 10px;
}

.expert_question .questionTitle {
  font-weight: bold;
  font-size: 14px;
}

.expert_profile_author_name {
  font-weight: bold;
  text-decoration: underline;
}

.enhanced-card-rate-cells td {
  border-bottom: 1px dashed #ccc;
}

.enhanced-card-detail-header, .enhanced-card-rate-cells td.enhanced-card-detail-header {
  border-bottom: 3px solid #0B3E80;
  font-weight: bold;
}
#footer {
  width: 100%;
}

#footer td {
  padding-top: 25px;
}

#footer .link_list_table {
  padding-left: 10px;
  font: 11px Arial, Helvetica, sans-serif;
  color: #dae4ee;
  text-decoration: none;
  text-align: left;
  vertical-align:top;
  width:142px;
}

#footer .link_list_table A {
  font: 11px Arial, Helvetica, sans-serif;
  color: #dae4ee;
  text-decoration: none;
}

#footer .link_list_table A:hover, #footer .copyright A:hover, #footer .security_seal A:hover {
  color: #CC0000;
}

#footer .security_seal {
  padding-left:20px;
}

#footer .security_seal a {
  color: #dae4ee;
}

#footer .copyright {
  text-align: center;
  padding-top: 15px;
  color:#DAE4EE;
  font: 11px Arial, Helvetica, sans-serif;
}

#footer .copyright A {
  text-decoration: underline;
  color:#DAE4EE;
  font: 11px Arial, Helvetica, sans-serif;
}

#pre-footer{
  height: 10px;
  background-color:#dae4ee;
  padding:0;
  margin:0;
}

#pre-footer .thick-border-left {
  width: 191px;
}

#pre-footer .thick-border-right {
  border-top: 1px solid #cccccc;
}

.pressReleaseTable {
  width: 100%;
  margin: 15px 0;
}
.pressReleaseTable .dateCol {
  width: 100px;
  vertical-align: top;
}
.pressReleaseTable .pdfCol {
  width: 30px;
  vertical-align: top;
}
#loading {
  width: 735px;
  height: auto;
  margin: 2em auto;
  padding: 1em 0;
  border: 0;
  background-color: #fff;
  text-align: center;

  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

  box-shadow: 3px 3px 4px #111;
  -moz-box-shadow: 3px 3px 4px #111;
  -webkit-box-shadow: 3px 3px 4px #111;
}
#loading p {
  margin-top: 3em;
  color: #333;
  font: 14px Arial,Helvetica,sans-serif;
  vertical-align: middle;
  text-align: center;
}
#loading img {
  padding: 0px 5px;
  vertical-align: middle;
}
#loading #imposedLock{
  position: relative;
  top: -10px;
}
#loading table {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0 0 3em 0;
}
#loading #spinner {
  margin: 4em auto;
}
#loading table .edge {
  width: 40%;
}
#loading table .center {
  width: 20%;
}

.articleChart {
  margin: 10px;
}
.articleChart TD {
  font-size: 12px;
  border: 1px solid #AAA;
  padding: 5px;
}
.articleChart .header {
  font-weight: bold;
  background-color: #F7F7EF;
  color: #000066;
}
.headshot {
  border: 1px solid #003063;
  margin: 4px 10px 10px 0;
}

/* BEGIN TABBED NAVIGATION - PRIVACY SUITE ************************/
#tab_navigation {
  width: 100%;
  padding: 0;
  margin: 15px 0 0 0;
  list-style:none;
  border-left: 1px solid #AAA;
}
#tab_navigation TD {
  text-align: center;
  margin: 0;
  padding: 0;
  border-top: 1px solid #EEE;
  background: url(/images/tab_gradient.gif) repeat-x;
}
#tab_navigation TD.active {
  border-bottom: 0px;
  border-top: 2px solid #CCC;
  background-image: none;
}
#tab_navigation TD.active A {
  color: #949494;
  margin: 0;
}
#tab_navigation TD.active A:hover {
  background-color: #EEE;
}
#tab_navigation A {
  display: block;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  border-right: 1px solid #AAA;
}
#tab_navigation A:hover {
  background-color: #DDD;
}
#tab_navigation_subnav {
  width: 100%;
  padding: 0;
  margin: 0;
  border-left: 1px solid #AAA;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  font-size: 11px;
}
#tab_navigation_subnav TD {
  text-align: center;
  margin: 0;
  padding: 0;
  border-top: 1px solid #EEE;
}
#tab_navigation_subnav TD.active {

}
#tab_navigation_subnav TD.active A {
  color: #000;
  margin: 0;
  font-weight: bold;
  text-decoration: none;
}
#tab_navigation_subnav TD.active A:hover {
  background-color: #EEE;
}
#tab_navigation_subnav A {
  color: #000;
  display: block;
  text-decoration: underline;
  padding: 2px 5px;
  border-right: 1px solid #AAA;
}
#tab_navigation_subnav A:hover {
  background-color: #EEE;
}
#tab_content {
  padding: 15px 10px 10px 10px;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
ul.secondary li {
  backgound-image: none;
  list-style-type: disc;
  list-style-image: none;
}
/* END TABBED NAVIGATION - PRIVACY SUITE ************************/


/* BEGIN Rate Table CSS ****************************************/
/*
.ehs_rate_table {
    margin: 0px;
    padding: 0px;
}
.ehs_rate_table tr.odd {
    background-color: #E7E7E7;
}
.ehs_rate_table img {
    border-style: none;
    margin: 0;
    padding-right: 5px;
}
.ehs_rate_table td {
    font-size: 10px;
    padding: 2px;
}
*/
/* END Rate Table CSS ********************************************/

/* BEGIN Glossary Styles **/
.glossaryindex {
  font: bold 14px Arial, Helvetica, sans-serif;
  color: #999;
  padding: 0px;
  margin: 0 0 15px 0;
  border: 1px solid #003366;
  background-color: #DAE4EE;
  text-align: center;
}
.glossaryindex a:link, .glossaryindex a:visited {
  font: bold 14px Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #003366;
}
.glossaryindex a:hover, .term a:hover{
  text-decoration: underline;
  color: #cc0000;
}
.term a:link, .term a:visited {
  font: bold 12px Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #003366;
}
.definition{
  display: none;
  font: 12px Arial, Helvetica, sans-serif;
  border: 1px solid 003366;
  padding: 5px;
}
/* END Glossary Styles **/

.news-table-right{
  margin-left: 20px;
}

.news-table-right p{
  font-size:11px;
}

.news-table-left{
  margin-right: 20px;
}
.t-heading {
  background: url(/images/dot.gif) 0 0 repeat-x #1c3664;

}
.b {
  background: url(/images/dot.gif) 0 100% repeat-x;
}
.l {
  background: url(/images/dot.gif) 0 0 repeat-y;
}
.r {
  background: url(/images/dot.gif) 100% 0 repeat-y;
}
.bl {
  background: url(/images/bl.gif) 0 100% no-repeat;
}
.br {
  background: url(/images/br2.gif) 100% 100% no-repeat;
}
.tl {
  background: url(/images/tl.gif) 0 0 no-repeat;
}
.tr-heading {
  background: url(/images/tr.gif) 100% 0 no-repeat;
  padding:5px;
}
.tr-heading h2{
  font-size:12px;
  font-family: Arial-black,Arial,Helvetica,sans-serif;
  font-weight: bold;
  color: #fff;
}

.tr-main {
  padding:1px 0 5px 12px;
}
/* RSS feeds page */
.rsslinks {
  margin-left: 20px;
}
.rsslinks td {
  padding: 4px;
}
.card-table {
  font-size: 11px;
  font-face: Arial, Helvetica, sans-serif;
  text-align: center;
  border-collapse: collapse;
}
.card-table th {
  color: black;
  background-color: #dae4ee;
  text-align: center;
  font-size: 11px;
  padding: 5px;
  border: 1px solid #E0DFE3;
}
.card-table td {
  border-left: 1px solid #E0DFE3;
  border-right: 1px solid #E0DFE3;
  border-top: 1px solid #E0DFE3;
  border-bottom: 1px solid #E0DFE3;
  padding: 5px;
}
.card-table .card-title {
  font-weight: bold;
  color: #2C5A89;
  font-size: 12px;
}
.card-title-table td, .card-teaser-table td {
  border-width: 0px;
  padding: 0px;
}
.card-table a {
  text-decoration: none;
  font-weight: bold;
  font-size: inherit;
  color: inherit;
}
.even-row {
  background-color: #f3f3f3;
}
sup {
  font-size: 50%;
  font-weight: normal;
}
#flashcontent {
  width: 300px;
  float: left;
}
#credit-score-estimator {
  background: #ECECC8 url(/images/est-score-bg.jpg) no-repeat 380px 42px;
  height: 150px;
  padding: 5px;
}
#credit-score-estimator h2{
  padding-top: 15px;
  color: #3c3c34;
  font-size: 16px;
}
#credit-score-estimator h1 {
  padding:0;
  margin: 0;
  text-align: center;
  color: #3c3c34;
  font-size:33px;
}
#credit-score-estimator p {
  padding:0;
  margin: 7px 0 0 0;
  text-align: center;
  font-size:25px;
  color:#3c3c34;
}
#credit-score-estimator a {
  float: right;
  color: #3c3c34;
}
#spotlight-120-600 {
  position: absolute;
  top: 300px;
  right: 0px;
  float: right;
  width: 120px;
}

/** 090428-homepage card finder widget **/
#card_finder_widget {
  background:transparent url(/images/card_wall_361x200.jpg) no-repeat scroll right bottom;
  border-bottom: 1px solid #003063;
  width: 574px;
}
#card_finder_widget select {
  margin-bottom: 10px;
  width: 185px;
}
#card_finder_widget input {
  margin-top: 8px;
  border: 2px solid #B62B2B;
  color: #B62B2B;
  background-color: #fff;
  font-weight: bold;
}
#card_finder_widget input:hover {
  background-color: #B62B2B;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
}
#card_finder_widget h2 {
  background-color: #003063; color: #fff;  padding: 3px 0 8px 0;
}
#card_finder_widget form {
  padding: 12px 10px;
  background: url(/images/cardfinder_widget_background.gif) no-repeat;
  margin: 15px 10px 0 10px;
  width: 234px;
  height: 148px;
}
/** END:090428-homepage card finder widget **/

#leftnav {
  float: left;
  position: relative;
  width: 191px;
  padding: 0 0 20px;
}
#leftnav img {
  border-right: 1px solid #003063;
}
#leftnav ul {
  margin:0;
  padding:0;
  list-style-type: none;
}
#leftnav ul ul {
  padding-bottom: 10px;
}
#leftnav ul ul li {
  list-style-image: url(/images/square-bullet.gif);
  text-indent: -5px;
  border-top: none;
  margin: 0 0 0 25px;
  *margin: 0 0 0 35px;
  font-weight: bold;
}
#leftnav ul ul li a {
  font-weight: bold;
  font-size: 11px;
  height:10px;
}

#leftnav ul ul li a:hover {
  width:157px;
}

#leftnav li {
  border-top: 1px solid #ccc;
  list-style-image:none;
  font-family:Arial,Helvetica,sans-serif;
}
#leftnav li:first-child {
  border-top: none;
}
#leftnav li a {
  padding: 3px 0 3px 10px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  color:#003366;
}
#leftnav li a:hover,
#leftnav li a.selected {
  color: #CC0000;
  background: #fff;
  width: 182px;
}

#home-table {
  padding:0;
  margin:0;
  background:#FFF;
  /*border-bottom: 15px solid #dae4ee;*/

}

.boiler-plate {
  padding:20px;
  border-top:1px solid #003063;
}

.boiler-plate-banks {
  border-top:1px solid #003063;
  padding-bottom: 40px;
}

.individual_bank img {
  border-style:none;
  max-height: 71px;
  width: 71px;
}

.individual_bank a {
  text-decoration:none;
}

.individual_bank strong {
  text-decoration:underline;
  font: bold 12px Arial,Helvetica,sans-serif;
  text-align: left;
}

.individual_bank {
  float:left;
  width: 355px;
  padding: 0 0 00px 20px;
  min-height:100px;
  margin:0;

}

.individual_bank p {
  margin:0;

}

.grey_border {
  border: 5px solid #DDDDDD;
  height: 89px;
  padding: 4px;
  width: 77px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.logo_container {
  float:left;
  padding: 0 10px 5px 0;
}

.qualified-offers {
  padding:0;
  margin:0;
}

.qualified-offers .offer-left {
  background-color: #326497;
  color: #fff;
}

.qualified-offers .offer-left a, .qualified-offers .offer-left a:hover, .qualified-offers .offer-left a:visited {
  color: #fff;
}

.qualified-offers .schumer-box {
  border:3px solid #326497;
}

.newsletter_signup_right {
  margin-top: 15px;
}

.newsletter_signup_right .title  {
  font-weight:bold;
  color:#B20202;
  text-align:center;
  text-decoration:none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.newsletter_signup_bottom .title {
  font-weight:bold;
  font-size:12px;
  color:#B20202;
  text-decoration:none;
}

.newsletter_signup_right_img, .newsletter_signup_bottom_img {
  margin: 10px 10px 0 0;
  border:none;
}

.newsletter_signup_right_subscribe_img, .newsletter_signup_bottom_subscribe_img {
  margin-top:10px;
  border:none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp_article .mainRightColumn_help {
  padding: 0 0 0 30px;
}
.mainRightColumn_help {
  background-color: #fff;
  vertical-align: top;
  padding: 10px 0 0 15px;
}
.mainRightColumn_help h3 {
  font-weight: bold !important;
  font-size: 14px !important;
}
#pageContentArea_help {
  padding: 10px 30px;
  font: normal 12px Arial, Helvetica, sans-serif;
}
#pageContentArea_help #breadcrumb {
  padding: 0 0 10px 0;
  width: 539px;
}
.mainRightColumn_help .adSpace {
  margin-top:30px;
  text-align: center;
}
.mainRightColumn_help .actionIcon {
  margin-bottom:10px;
}
.mainRightColumn_help .actionIcon img {
  border-style:none;
  padding-right:5px;
  vertical-align:middle;
}
.mainRightColumn_help .actionIcon td {
  vertical-align: middle;
}
.mainRightColumn_help hr {
  color:#CCCCCC;
  margin:15px 0;
}

.mainRightColumn_help .actionIcon a, .mainRightColumn_help .quickLinks {
  font-size:11px;
}
.mainRightColumn_help .quickLinks {
  margin-top: 30px;
}
/*#jumpMenu {
	background:#ffff;
	font-family:ariel, helvetica, sans-serif;
	font-size:11px;
	color:#336698 ;
	position:absolute;
	margin-left:350px;
	margin-top:10px;
}*/

/* specific to /splash/ (search splash) page and tools table */
.itemText {
  font-family: Arial;
  font-size: 9pt;
}
.cardsearchSectionTitle {
  font-family: Arial;
  font-size: 12pt;
  font-weight: bold;
  color: #000066;
}
.cardsearchSectionTitle a:link {
  text-decoration: none;
}
.cardsearchSectionTitle a:visited {
  text-decoration: none;
}
.cardsearchSectionTitle a:hover {
  text-decoration: none;
}
#bankTable td {
  text-align: center;
}
.grayBorderBox {
  border-right: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  border-left: 3px solid #ccc;
}
.stepsDiv {
  text-align: center;
  margin-bottom: 20px;
  padding: 5px;
  width: 100%;
}

#moviecontent {
  text-align: left;
}
#facebookLikeContainer {
  margin-bottom: 10px;
}
.socialMediaButtonContainer {
  /*float: left;*/
  margin-bottom: 10px;
  margin-right: 14px;
}

br.clear {
  clear: both;
  margin: 0;
  padding: 0;
  height: 1px;
}

dt {
  font-size:16px;
  color:#000066;
  font-weight:bold;
}

dd {
  margin: 12px 0;
}

.socialMediaButtonContainer img {
  margin-bottom: 10px;
}

/*Advertising Disclosure 36162*/
.advertising_disclosure_container{
  position:relative;
  overflow:visible;
  height:17px;
}
.advertising_disclosure_container.addrightmargin, .advertising_disclosure_container.individual-card{
  margin-right:20px;
}
.advertising_disclosure_text{
  display:none;
  position:absolute;
  width:auto;
  height:auto;
  background-color:white;
  bottom:-10px;
  right:140px;
  z-index:101;
}

.advertising_disclosure_link{
  float:right;
  width:139px;
  height:17px;
}

.advertising_disclosure_link>a{
  border:none;
  text-decoration: none;
}

/* Terms and Conditions 30093 */

.tnc-link {
  font-size:10px;
}

#personal-loans .schumer-box{
  table-layout: auto;
}

#personal-loans h1.subHeading{
  color: rgb(8, 58, 107);
}

#personal-loans .advertising_disclosure_container{
  margin-right:50px;
}

/*NFL extra points*/
#nfl-extra-points>p#nfl-description{
  text-align:center;
  color:#000066;
}
#nfl-extra-points>p#nfl-description>b{
  font:bold 14px arial;
}
#nfl-extra-points>div.nfl-card{
  margin:5px 5px 15px;
  width:130px;
  float:left;
  clear:none;
}
#nfl-extra-points>.nfl-card>.nfl-card-image{
  margin-bottom:5px;
  width:130px;
  height:82px;
  float:none;
  clear:both;
}
#nfl-extra-points>.nfl-card>.nfl-card-image a{
  text-decoration: none;
  border:none;
}
#nfl-extra-points>.nfl-card>.nfl-card-name{
  max-width:67px;
  font:10px Arial,Helvetica,sans-serif;
  float:left;
  clear:left;
}
#nfl-extra-points>.nfl-card>.nfl-card-name>a{
  color:#000066;
}
#nfl-extra-points>.nfl-card>.nfl-card-apply{
  float:right;
  clear:right;
}
#nfl-extra-points>.nfl-card>.nfl-card-apply>a{
  display:block;
  overflow:none;
  height:33px;
  width:58px;
  background:url(/images/cta-button.png) no-repeat center;
  line-height:33px;
  border:none;
  text-decoration:none;
  text-indent:-999px;
}
/*END NFL extra points*/

.float, .floatleft{
  float:left;
  clear:none;
}
.floatright{
  float:right;
  clear:none;
}
.clear{
  float:none;
  clear:both;
}
table{
  margin-bottom: 0px;
  tr{
    background: none;
  }
  td{
    padding: 0px;
  }
}
}