main.controller "cellarCtrl",  ($scope, currentUser, Devise, $location, $modal, Wine, CellarData) ->
  session = new Devise.session

  $scope.data = CellarData

  session.requestCurrentUser().then (resp)->
    $scope.authenticated = true
    CellarData.loadWines()
  , ->
    $location.path "/login"

  currentUser.get().then (user) ->
    $scope.user = user

  $scope.goAddWine = ->
    CellarData.wine = new Wine
      name: ""
    $scope.openWineForm()

  $scope.openWineForm = ->
    CellarData.loadData().then =>
      $modal.open
        templateUrl: "<%= asset_path("profile/cellar/form.html") %>"
        controller: "wineFormCtrl"

  $scope.editWineDialog = (wine) ->
    CellarData.wine = wine
    $scope.openWineForm()
    event.stopPropagation()
    event.preventDefault()

  $scope.dropDown = (wine) ->
    wine.show = !wine.show

  $scope.toggleText = (wine) ->
    if wine.toggle then "Wine" else "Experiences"

  $scope.toggle = (wine, event) ->
    wine.toggle = false  if wine.toggle is "undefined"
    wine.toggle = !wine.toggle
    event.stopPropagation()
    event.preventDefault()

  $scope.sortBy = (field) ->
    CellarData.sortWines(field)

  $scope.focusOnMarker = (wine) ->
    CellarData.focusOnMarker(wine)

  $scope.reloadWinesIfEmpty = ->
    CellarData.loadWines() unless CellarData.searchTerm
