@mainMenuCtrl = ($scope, $state, $modal)->
  $scope.loginModal =  ->
    $modal.open
      templateUrl: "<%= asset_path("devise/session/new.html") %>"
      controller: sessionCtrl
      hide: false
  $scope.state = $state
  $scope.registrationModal =  -> $modal.open templateUrl: "<%= asset_path("devise/registration/new.html") %>"
  $scope.passwordResetModal =  -> $modal.open templateUrl: "<%= asset_path("devise/password/reset.html") %>"

  angular.element("body").bind "click", (event) ->
#    $modal.close()

  switch $scope.state.current.name
    when "home.login" then $scope.loginModal()
    when "home.register" then $scope.registrationModal()
    when "home.resetPass" then $scope.passwordResetModal()

