.singup-panel.modal.scale.in
  .header-well
    %h1.text-center Sign Up
  %form.form( ng-model = "user" ng-submit = "register()" ng-controller = "registerCtrl" )
    .form-group
      %label.sr-only
        First Name
      %input.form-control( ng-model = "user.first_name" placeholder="First Name" )
      .error(ng-class="{show: session.errors.first_name}") {{ session.errors.first_name }}
    .form-group
      %label.sr-only
        Last Name
      %input.form-control( ng-model = "user.last_name" placeholder="Last Name" )
      .error(ng-class="{show: session.errors.last_name}") {{ session.errors.last_name }}
    .form-group
      %label.sr-only Email
      %input.form-control( ng-model = "user.email" placeholder="Email")
      .error(ng-class="{show: session.errors.email}") {{ session.errors.email }}
    .form-group
      %label.sr-only Password
      %input.form-control( type = "password" ng-model = "user.password" placeholder="Password" )
      .error(ng-class="{show: session.errors.password}") {{ session.errors.password }}
    .form-group
      %label.sr-only Password confirmation
      %input.form-control( type = "password" ng-model = "user.password_confirmation" placeholder="Password confirmation" )
      .error(ng-class="{show: session.errors.password_confirmation}") {{ session.errors.password_confirmation }}
    .text-center
      %button.btn.btn-primary.btn-lg(type = "submit") Sign Up

