.login-panel(ng-controller = "passwordsCtrl")
  %div(ng-show = "!password.recovered")
    .header-well
      %h1.text-center Forgot your password?
    %form.form( ng-submit = "password.recover()")
      .form-group
        %label.sr-only
          Email
        %input.form-control( ng-model = "password.email" placeholder = "Email" )
      .text-center
        %button.btn.btn-lg.btn-primary Reset
    .footer-well
      .hide.has-error.alert.alert-danger(ng-class = "{show: password.errors}")
        {{password.errorFullMessage('email')}}
  %div(ng-show = "password.recovered")
    Instructions how to reset password where sent to {{ password.email }}, please check your email.


