.login-panel( ng-controller = "passwordsCtrl" )
  .header-well
    %h1.text-center Reset your password
  %form.form( ng-submit = "password.reset()" )
    .form-group
      %label.sr-only
        Password
      %input.form-control( ng-model = "password.password" placeholder = "password" )
      .error(ng-class="{show: password.errors.password}") {{ password.errors.password }}
      %label.sr-only
        Password confirmation
      %input.form-control( ng-model = "password.password_confirmation" placeholder = "password confirmation" )
      .error(ng-class="{show: password.errors.password_confirmation}") {{ password.errors.password_confirmation }}
    .text-center
      %button.btn.btn-lg.btn-primary Reset password
  .footer-well
    .hide.has-error.alert.alert-danger( ng-class = "{show: password.errors.access_password_token}" )
      {{password.errorFullMessage('access_password_token')}}

