window.main.config ["$stateProvider", ($stateProvider) ->
  $stateProvider
    .state "admin",
      url: "/admin"
      templateUrl: '<%= asset_path "layouts/admin.html" %>'
      controller: 'adminCtrl'
    .state "admin.cards",
      url: "/cards"
      template: '<ui-view/>'
    .state "admin.cards.index",
      url: "/all/:page"
      controller: "allCreditCardsCtrl"
      templateUrl: '<%= asset_path "admin/cards/index.html" %>'
    .state "admin.card",
      url: "/card"
      template: ' <div ui-view="header"></div><div ui-view="content"></div>'
    .state "admin.card.new",
      url: "/new"
      views:
        "header":
          templateUrl: "<%= asset_path "admin/cards/new_header.html" %>"
        "content":
          controller: "creditCardCtrl"
          templateUrl: '<%= asset_path "admin/cards/form.html" %>'
    .state "admin.card.edit",
      url: "/edit/:cardName"
      views:
        "header":
          controller: "creditCardCtrl"
          templateUrl: "<%= asset_path "admin/cards/edit_header.html" %>"
        "content":
          controller: "creditCardCtrl"
          templateUrl: '<%= asset_path "admin/cards/form.html" %>'

  $stateProvider
    .state "devise",
       templateUrl: '<%= asset_path "layouts/devise.html" %>'
    .state "devise.login",
       url: "^/login"
       controller: "sessionCtrl"
       templateUrl: '<%= asset_path "devise/session/new.html" %>'
    .state "devise.recoverPass",
       controller: "passwordsCtrl"
       url: "^/password/recover"
       templateUrl: '<%= asset_path "devise/password/recover.html" %>'
    .state "devise.resetPass",
       controller: "passwordsCtrl"
       url: "^/password/reset/:resetPasswordToken"
       templateUrl: '<%= asset_path "devise/password/reset.html" %>'
  ]
