!!!
%html(ng-app="main")
  %head
    %title Credit Card Comparison Admin
    = stylesheet_link_tag "admin", media: "all"
    = javascript_include_tag "admin", "main"
    = csrf_meta_tags
  %body(ui-view)