!!!
%html(ng-app="main")
  %head
    %title Credit Card Comparison
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
%body
  / __________________________________________________ Start Page
  / __________________________________________________ Start Header
  %header#header-application.start-div.clearfix
    %a#logo{href: "http://www.forwardfinancing.com"}
      %img{alt: "ForwardFinancing", height: "66px", src: "//www.forwardfinancing.com/site/wp-content/uploads/2012/04/logo-home.png"}/
    .tel
      %h6 Speak with a Funding Specialist
      %h2.bullet-tel (888) 244-9099
    %nav#main-nav

  %div{style: "background-image: linear-gradient(bottom, #FFFFFF 1%, #E0E0E0 80%);background-image: -o-linear-gradient(bottom, #FFFFFF 1%, #E0E0E0 80%);\r\nbackground-image: -moz-linear-gradient(bottom, #FFFFFF 1%, #E0E0E0 80%);\r\nbackground-image: -webkit-linear-gradient(bottom, #FFFFFF 1%, #E0E0E0 80%);\r\nbackground-image: -webkit-linear-gradient(bottom, #FFFFFF 1%, #E0E0E0 80%);\r\nbackground-image: -ms-linear-gradient(bottom, #FFFFFF 1%, #E0E0E0 80%);\r\nbackground-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.01, #FFFFFF), color-stop(0.51, #E0E0E0)); \r\nheight: 35px;"}
  = yield
  %footer#footer.clearfix
    .container{style: "width:1050px;"}
      .three-fourth
        %nav#footer-nav.clearfix
      .one-fourth.last
      .clear
  %footer#footer-bottom.clearfix
    .container
      %ul
        %li
          %a Forward Financing © 2013
        %li
          %a Phone: (888) 244-9099
        %li
          %a Email: info@forwardfinancing.com
        %li
          %a 36 Bromfield Street 2nd Floor Boston, MA 02108